---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const allPosts = await Astro.glob("../pages/posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle={frontmatter.title}, pageDescription={frontmatter.pageDescription}>
  
  <p>Published on: {frontmatter.pubDate.slice(0, 10)} <br/> by <a href={`/author/${frontmatter.authorName}`}><u>{frontmatter.author}</u></a></p>
  <p><em>{frontmatter.pageDescription}</em></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> 
  
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>

<style>
  a {
    color: #ffffff;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    box-shadow: inset 0px 0px 5px 0px #4822a7;
    background-color: #28014d79;
  }
</style>
